{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/form.css' %}">

<div class="form">
  <div class="container">
    <h2>Add Database</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          <label>{{ field.label_tag }}</label>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <br>
      <label></label>
      <button type="submit">Save</button>
      <br><br><br><br>
    </form>
  </div>
</div>
<br>
{% endblock %}