{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/form.css' %}">

<div class="form">
<div class="container">
  <h2>Change Profile</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <br><br>
    <p><b>Enter password to make changes:</b> </p>
    <p>{{ confirm_password_form }}</p>
    <br>
    <label></label>
    <button type="submit">Save</button>
    <br><br><br><br>
  </form>
</div>
</div>
{% endblock %}