{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="DAG-H">
  <div class="container">
  	<br>
  	<a type="button"  class="btn btn-lg btn-primary" href="/">New Search</a>
    <h2>DAG:  "{{ dag_name }}"</h2>
    <h4 align="center"><br>From Github Repo: <a href="http://{{ repo_id }}" target="_blank">{{ repo_id }}</a></h4>

  </div>
</div>

<div class="DAG" align="center">

    <!-- List of SQL "Jobs" -->
    <h4><br>DAG "{{ dag_name }}" has the following tasks:</h4>
    {% for nm in SQL_list %}
    	<div class="row" align="center">
    		<a href="{% url 'task' repo_id dag_name nm %}">{{nm}}</a>
    	</div>
    {% endfor %}
    
    <!-- Placeholder for links to tables -->
    <h4><br>and touches the following tables:</h4>
</div>

{% endblock %}