{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Database to Delete</h2>
  <form method="post">
    {% csrf_token %}
    <p><b>Database Alias:</b> {{db.db_alias}}</p>
    <p><b>Database Type:</b> {{db.db_type}}</p>
    <p><b>Database Connection URL:</b> {{db.db_connection_url}}</p>
    <p>---</p>
    <br><br>
    <p><b>Enter password to make changes:</b> </p>
    <p>{{ confirm_password_form }}</p>
    <br>
    <button type="submit">Delete</button>
  </form>
  <br><br><br>

</div>
{% endblock %}