{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/jumbotron.css' %}">

<div class="jumbotron text-center">
  <div class="container">

    <h1>Data Doctor</h1>
    <p>Sample text.</p>

    <h3>Github Repository: <a href="https://{{user.profile.repository}}" target="_blank">{{user.profile.repository}}</a></h3>

    <a type="button"  class="btn btn-lg btn-primary" href="{% url 'add_database' %}">Add a database</a>
    <a type="button"  class="btn btn-lg btn-primary" href="{% url 'TOC' user.profile.repository %}">View TOC</a>
  </div>
</div>
<div class="alert alert-info text-center" role="alert">
    Sample text.
</div>
</div>

{% endblock %}