{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
    .TBL-H {
        background: #2B3856;
        color: white;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px
    }
    .TBL-H h4 {
        color: #d9ccee;
        max-width: 75%;
        margin: 1em auto 2em
    }
    .TBL-H .btn-primary {
        background: #161314;
        border-color: #161314;
        float: right;
    }
    .TBL-H .btn-primary:hover {
        background: #524F50
    }
    .TBL-H a:link {
        color: white;
    }
    .TBL-H a:visited {
        color: white;
    }
    .TBL-H a:hover {
        color: #161314;
    }
    .TBL {
        background: white;
        color: #161314;
        padding-bottom: 80px
    }
    .TBL p {
        color: #161314;
        max-width: 90%;
        margin: 1em auto 2em
    }
    .TBL a:link {
        color: #161314;
    }
    .TBL a:visited {
        color: #161314;
    }
    .TBL a:hover {
        color: #2B3856;
    }
 </style>

<div class="TBL-H">
  <div class="container">
  	<br>
  	<a type="button"  class="btn btn-lg btn-primary" href="/">New Search</a>
    <h2>Table:  "{{ table_name }}"</h2>
    <h4 align="center"><br>From Github Repo: <a href="http://{{ repo_id }}" target="_blank">{{ repo_id }}</a></h4>

  </div>
</div>

<div class="TBL">
    <!-- List/Descriptions of columns in table -->
    <h4 align="center"><br>Table "{{ table_name }}" has the following columns:</h4>
    <div class="container">
    	<div class="row">
    		<div class="col-xs-3">Column Number</div>
    		<div class="col-xs-3">Column Name</div>
    		<div class="col-xs-3">Data Type</div>
    		<div class="col-xs-3">Constraints</div>
    	</div>
    </div>
    <h4 align="center"><br>and touches the following tables:</h4>
    <div class="container" align="center">
	    {% for nm in TBL_connection_list %}
		    <div class="row">
		    <a href="{% url 'table' repo_id dag_name job_name nm %}">{{nm}}</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}