{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/base_plus.css' %}">

<div class="page-header">
  <div class="container">
  	<br>
  	<a type="button"  class="btn btn-lg btn-primary" href="/">New Search</a>
    <h2>Task:  "{{ job_name }}"</h2>
    <h4 align="center"><br>From Github Repo: <a href="http://{{ repo_id }}" target="_blank">{{ repo_id }}</a></h4>

  </div>
</div>

<div class="content" align="center">

    <!-- Link to Task Script -->
    <h4><br>Task "{{ job_name }}" runs the following script:</h4>
    	<div class="row" align="center">
    		<a href="{% url 'task' repo_id dag_name job_name %}">(External) Link to {{job_name}}</a>
    	</div>

    <!-- Link to Tables -->
    <h4><br>and touches the following tables:</h4>
    {% for nm in TBL_list %}
        <div class="row" align="center">
            <a href="{% url 'table' repo_id dag_name job_name nm %}">{{nm}}</a>
        </div>
    {% endfor %}

</div>

{% endblock %}