{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
    .TSK-H {
        background: #2B3856;
        color: white;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px
    }
    .TSK-H h4 {
        color: #d9ccee;
        max-width: 75%;
        margin: 1em auto 2em
    }
    .TSK-H .btn-primary {
        background: #161314;
        border-color: #161314;
        float: right;
    }
    .TSK-H .btn-primary:hover {
        background: #524F50
    }
    .TSK-H a:link {
        color: white;
    }
    .TSK-H a:visited {
        color: white;
    }
    .TSK-H a:hover {
        color: #161314;
    }
    .TSK {
        background: white;
        color: #161314;
        padding-bottom: 80px
    }
    .TSK p {
        color: #161314;
        max-width: 90%;
        margin: 1em auto 2em
    }
    .TSK a:link {
        color: #161314;
    }
    .TSK a:visited {
        color: #161314;
    }
    .TSK a:hover {
        color: #2B3856;
    }
 </style>

<div class="TSK-H">
  <div class="container">
  	<br>
  	<a type="button"  class="btn btn-lg btn-primary" href="/">New Search</a>
    <h2>Task:  "{{ job_name }}"</h2>
    <h4 align="center"><br>From Github Repo: <a href="http://{{ repo_id }}" target="_blank">{{ repo_id }}</a></h4>

  </div>
</div>

<div class="TSK" align="center">

    <!-- Link to Task Script -->
    <h4><br>Task "{{ job_name }}" runs the following script:</h4>
    	<div class="row" align="center">
    		<a href="{% url 'task' repo_id dag_name job_name %}">(External) Link to {{job_name}}</a>
    	</div>

    <!-- Link to Tables -->
    <h4><br>and touches the following tables:</h4>
    {% for nm in TBL_list %}
        <div class="row" align="center">
            <a href="{% url 'table' repo_id dag_name job_name nm %}">{{nm}}</a>
        </div>
    {% endfor %}

</div>

{% endblock %}