{% extends "base.html"%}
{% load staticfiles %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/base_plus.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'hello/display.css' %}">

<div class="page-header">
    <div class="container">
        <h2 align="center">Table of Contents</h2>

        <!-- Link to Github Repository -->
        <h4 align="center"><br>Github Repository URL: <a href="http://{{ repo_id }}" target="_blank">{{ repo_id }}</a></h4>
    </div>
</div>

<div class="content" align="center">
    
    <!-- Example List of DAGS -->
    <h4><br>The Github Repository contains the following DAGs:</h4>
    {% for nm in DAG_list %}
        <div class="row" align="center">
            <a href="{% url 'DAG' repo_id nm %}">DAG: {{nm}}</a>
        </div>
    {% endfor %}
</div>


<hr>


<div class="Display">
<div class="container">
  <h2>Databases</h2>

  {% if DB_list %}
    {% for db in DB_list %}
    <p>
        <div class="row">
            <div class="column left"><b>{{ forloop.counter }}.</b></div>
        </div>
        <div class="row">
            <div class="column left"><b>Database Alias:</b></div>
            <div class="column right">{{db.db_alias}}</div>
        </div>
        <div class="row">
            <div class="column left"><b>Database Type:</b></div>
            <div class="column right">{{db.db_type}}</div>
        </div>
        <div class="row">
            <div class="column left"><b>Database Connection URL:</b></div>
            <div class="column right">{{db.db_connection_url}}</div>
        </div>
    </p>
      <a type="button"  class="btn btn-xs btn-primary" href="{% url 'delete_database' db.db_alias db.pk %}">Delete</a>
      <p>---</p>
    {% endfor %}
  {% else %}
    <p>No databases have been added</p>
  {% endif %}
  <br>
  <a type="button"  class="btn btn-lg btn-primary" href="{% url 'add_database' %}">Add a database</a>
  <br><br><br>

</div>
</div>

{% endblock %}