{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>User Profile</h2>
  <br>
  <h4><b>Username:</b> {{user.username}}</h4>
  <h4><b>Name:</b> {{user.first_name}} {{user.last_name}}</h4>
  <h4><b>Email:</b> {{user.email}}</h4>
  <h4><b>Github Repository:</b> {{user.profile.repository}}</h4>
  <h4><b>DAG Directory Name:</b> {{user.profile.dag_directory_name}}</h4>
  <br>
  <a type="button"  class="btn btn-med btn-primary" href="{% url 'edit_profile' user.username %}">Change User Profile</a>
</div>
{% endblock %}
