.jumbotron {
    background: #2B3856;
    color: white;
    padding-bottom: 80px
}
.jumbotron .btn-primary {
    background: #161314;
    border-color: #161314
}
.jumbotron .btn-primary:hover {
    background: #524F50
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}
.navbar+.jumbotron {
    margin-top: -20px
}
.jumbotron a:link {
    color: #d9ccee;
}
.jumbotron a:visited {
    color: #d9ccee;
}
.jumbotron a:hover {
    color: white;
}